<%= content_tag :div, id: dom_id(note) do %>
  <div class="mb-5">
    <p class="jumbotron-heading text-muted small">
      <%= link_to truncate(note.user.name), note.user, class: 'text-info fw-bold' %>, <%= note.created %>
    </p>
    <div class="note-body overflow-auto">
      <%= note.body %>
    </div>
  </div><!-- .mb-5 -->
<% end %>
