<%= turbo_frame_tag 'new_note' do %>
  <%= form_with model: [@room, @note], data: { controller: 'reset', action: 'turbo:submit-end->reset#reset' } do |form| %>
    <div class="form-group">
      <%= form.rich_text_area :body, class: 'form-control comments' %>
    </div><!-- .form-group -->
    <div class="form-group d-flex justify-content-center">
      <%= form.submit 'Add Note', class: 'btn btn-lg btn-outline-dark btn-block', 'data-reset-target': 'posted' %>
    </div><!-- .form-group -->
  <% end %>
<% end %>
