<%= turbo_frame_tag 'new_note' do %>
  <h2>New Note</h2>
  <%= form_with model: [@room, @note],
        data: { controller: 'reset_form', action: 'turbo:submit-end->reset_form#reset' } do |form| %>
      <div class='field'>
        <%= form.rich_text_area :body %>
        <%= form.submit 'Post', 'data-reset_form-target': 'button' %>
      </div>
  <% end %>
<% end %>
