<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Todo List</h1>
    <p class="lead text-left text-muted">Create, read, update, &amp; destroy your todo items. React will efficiently update and render just the right components when your data changes.</p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<div id="todo-app"></div>

<%= render partial: 'todo_items/todos' %>
