<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My ToDo List</h1>
    <p class="lead text-left text-muted">Create, Read, Update, &amp; Destroy your ToDo items. React will efficiently update and render just the right components as your data changes.</p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<div id="todo-app"></div>

<%= render partial: 'todo_items/charts' %>
