<div class="card-header bg-shnozberry">
  <h4 class="my-0 fw-bold text-white">Membership</h4>
</div><!-- .card-header -->
<div class="card-body">
  <h2 class="card-title pricing-card-title">$35</h2>
  <ul class="list-unstyled mt-3 mb-4">
    <li><strong>Pay Once</strong></li>
    <li>Github Read Access</li>
    <li>Use any code in your own work</li>
    <li>Participate in <i>and create</i> Video Chats</li>
  </ul><!-- .list-unstyled -->
  <a class="mb-3 w-100 btn btn-lg btn-outline-primary" href="mailto:<%= ENV["GMAIL_USERNAME"] %>?subject=I am interested in Membership and Github Read Access">
    Inquire Today
  </a>
</div><!-- .card-body -->
