<!-- Embed Format Instructions (avoid layout js issue with modal) -->
<div class="modal fade text-left" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">
          Example YouTube Links
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-window-close"></i>
        </button><!-- .close -->
      </div><!-- .modal-header -->
      <div class="modal-body">
        <div class="my-3 p-3 shadow-lg">
          <h5 class="border-bottom border-gray pb-1 mt-1">Format 1</h5>
          <div class="media text-muted pt-1">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              https://youtu.be/<strong>u75Zsl1ECPQ</strong>
            </p><!-- .media-body -->
          </div><!-- .media -->
          <h5 class="border-bottom border-gray pb-1 mt-4">Format 2</h5>
          <div class="media text-muted pt-1">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              https://www.youtube.com/watch?v=<strong>u75Zsl1ECPQ</strong>
            </p><!-- .media-body -->
          </div><!-- .media -->
          <h5 class="border-bottom border-gray pb-1 mt-4">Format 3</h5>
          <div class="media text-muted pt-1">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              https://www.youtube.com/watch?v=<strong>u75Zsl1ECPQ</strong>&list=PLu9lbDbw-S8zyBwu9_aA2nE-3QocgyzRE&index=4
            </p><!-- .media-body -->
          </div><!-- .media -->
          <p class="mt-5 pb-3">
            <small class="ml-1">
              <span class="text-orange">Note</span>:
              Preview image updates after save
            </small>
          </p><!-- .mt-5 .pb-3 -->
        </div><!-- .my-3 .p-3 .shadow-lg -->
      </div><!-- .modal-body -->
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->
