<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Blog</h1>
    <p class="lead text-muted">Just some good, old-fashioned CRUD</p>
    <p>
      <% if user_signed_in? %>
        <%= link_to 'New Article', new_article_path, class: 'btn btn-outline-primary btn-block' %>
      <% end %>
    </p>
    <div class="filter">
      <%= render partial: 'articles/search', locals: { action: articles_path, q: '' } %>
    </div><!-- .filter -->
  </div>
</section>

<%= render partial: 'articles/articles' %>
