<section class="jumbotron py-4 text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Blog</h1>
    <p class="lead text-left text-muted">Create, Read, Update, &amp; Destroy your articles. Like, add comments and link to articles' users' profiles.</p>
    <div class="filter">
      <%= render partial: 'articles/search', locals: { action: articles_path, q: '' } %>
    </div><!-- .filter -->
  </div><!-- .container -->
</section><!-- .jumbotron -->

<%= render partial: 'articles/articles' %>
