<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Blog</h1>
    <p class="lead text-left text-muted">Create, read, update, &amp; destroy your articles. Like, comment on, and link to articles' users' profiles.</p>
    <div class="filter">
      <%= render partial: 'articles/search', locals: { action: articles_path, q: '' } %>
    </div><!-- .filter -->
  </div><!-- .container -->
</section><!-- .jumbotron -->

<%= render partial: 'articles/articles' %>
