<% flash.each do |key, value| %>
  <div class="container">
    <div class="d-flex justify-content-between alert <%= key == 'notice' ? 'alert-primary' : 'alert-danger' %>" role="alert">
      <%= value %>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>
