<% flash.each do |key, value| %>
  <div class="container">
    <div class="d-flex justify-content-between alert <%= key == 'notice' ? 'alert-primary' : 'alert-danger' %>" role="alert">
      <%= value %>
      <i class="bi bi-x-lg text-end text-dark close pointer" data-bs-dismiss="alert" aria-label="Close"></i>
    </div>
  </div>
<% end %>
