<nav class="footer-navbar navbar navbar-dark bg-dark text-white pt-4 pb-1">
  <footer class="container">
    <div class="float-left ml-1">
      <p>&copy; <%= Time.current.year %>. All Rights Reserved.</p>
      <p>Company, Inc.</p>
    </div><!-- .float-left .ml-1 -->
    <div class="float-right">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-lg btn-secondary" data-toggle="modal" data-target="#footerModal"><i class="fas fa-bars"></i></button>
      <!-- Modal -->
      <div class="modal fade" id="footerModal" tabindex="-1" role="dialog" aria-labelledby="footerModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="footerModalLabel">
                <%= link_to root_path, class: 'navbar-brand' do %>
                  <%= image_tag 'logo.png', alt: 'Logo', title: 'Home', class: 'footer-logo' %>
                <% end %>
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-window-close"></i>
              </button><!-- .close -->
            </div><!-- .modal-header -->
            <div class="modal-body">
              <div class="my-3 p-3 bg-white">
                <h5 class="border-bottom border-gray pb-1 mb-0">Legal</h5>
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <a href="#!"><i class="fas fa-square"></i>Terms and Conditions</a>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <a href="#!"><i class="fas fa-square"></i>Privacy Policy</a>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <a href="#!"><i class="fas fa-square"></i>Site Map</a>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
                <h5 class="border-bottom border-gray pt-5 pb-1 mb-0">Social</h5>
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <a href="mailto:ajmaseda@gmail.com" title="Email"><i class="fas fa-envelope-square"></i>Email</a>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <a href="https://www.youtube.com/channel/UCxR1elfy91jLjkdI5FbG2Fg" target= "blank" title="Youtube"><i class="fab fa-youtube-square"></i>Youtube</a>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <a href="http://on.fb.me/1DwG2El" target= "blank" title="Facebook"><i class="fab fa-facebook-square"></i>Facebook</a>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <a href="https://www.linkedin.com/in/anthony-maseda-52a16547/" target= "blank" title="Linkedin"><i class="fab fa-linkedin"></i>Linkedin</a>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <a href="https://github.com/TonyMaseda" target= "blank" title="Github"><i class="fab fa-github-square"></i>Github</a>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
                <h5 class="border-bottom border-gray pt-5 pb-1 mb-0">Appearance</h5>
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <span title="Darken the layout" class="page-theme-moon-link"><i class="fas fa-moon"></i>Dark Theme</span>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <span title="Brighten the layout." class="disabled page-theme-sun-link"><i class="fas fa-sun"></i>Light Theme</span>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
              </div><!-- .my-3 p-3 bg-white rounded shadow-sm -->
            </div><!-- .modal-body -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div><!-- .modal-footer -->
          </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
      </div><!-- .modal -->
    </div><!-- .float-right -->
  </footer><!-- .container -->
</nav><!-- .footer-nav -->

<% if current_page?(new_article_path) %>
<!-- Embed Format Instructions (avoid theme appearance issue with modal) -->
  <div class="modal fade text-left" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">
            Example YouTube Links
          </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-window-close"></i>
          </button><!-- .close -->
        </div><!-- .modal-header -->
        <div class="modal-body">
          <div class="my-3 p-3 shadow-lg">
            <h5 class="border-bottom border-gray pb-1 mt-1">Format 1</h5>
            <div class="media text-muted pt-1">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                https://youtu.be/<strong>u75Zsl1ECPQ</strong>
              </p><!-- .media-body -->
            </div><!-- .media -->
            <h5 class="border-bottom border-gray pb-1 mt-4">Format 2</h5>
            <div class="media text-muted pt-1">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                https://www.youtube.com/watch?v=<strong>u75Zsl1ECPQ</strong>
              </p><!-- .media-body -->
            </div><!-- .media -->
            <h5 class="border-bottom border-gray pb-1 mt-4">Format 3</h5>
            <div class="media text-muted pt-1">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                https://www.youtube.com/watch?v=<strong>u75Zsl1ECPQ</strong>&list=PLu9lbDbw-S8zyBwu9_aA2nE-3QocgyzRE&index=4
              </p><!-- .media-body -->
            </div><!-- .media -->
          </div><!-- .my-3 .p-3 .shadow-lg -->
        </div><!-- .modal-body -->
      </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
  </div><!-- .modal -->
<% end %>
