<p class="mt-3">
  <%= column_chart api_v1_charts_month_of_year_users_path, refresh: 3600, download: {background: "#ffffff"}, colors: ["#17a2b8"], title: "Users" %>
</p><!-- .mt-3 -->
<p class="mt-3 mb-5">
  <%= column_chart api_v1_charts_month_of_year_articles_path, refresh: 3600, download: {background: "#ffffff"}, colors: ["rgba(251,79,20,0.5)"], title: "Articles" %>
</p><!-- .mt-3 mb-5 -->
<p class="mt-3 mb-5">
  <%= column_chart api_v1_charts_month_of_year_todos_path, refresh: 3600, download: {background: "#ffffff"}, colors: ["rgba(61,12,2,0.5)"], title: "Todo Items" %>
</p><!-- .mt-3 mb-5 -->
