<div class="col-lg-3 pt-0 mt-1 mb-5">
  <%= pie_chart api_v1_charts_user_timezones_path, donut: true, refresh: 1200, legend: false, download: {background: "#ffffff"}, colors: chart_colors, title: "Timezones" %>
</div><!-- .col-lg-3 -->
<div class="col-lg-3 pt-0 mt-1 mb-5">
  <%= pie_chart api_v1_charts_visit_country_path, donut: true, refresh: 1200, legend: false, download: {background: "#ffffff"}, colors: chart_colors, title: "Country" %>
</div><!-- .col-lg-3 -->
<div class="col-lg-3 pt-0 mt-1 mb-5">
  <%= pie_chart api_v1_charts_visit_region_path, donut: true, refresh: 1200, legend: false, download: {background: "#ffffff"}, colors: chart_colors, title: "Region" %>
</div><!-- .col-lg-3 -->
<div class="col-lg-3 pt-0 mt-1 mb-5">
  <%= pie_chart api_v1_charts_visit_city_path, donut: true, refresh: 1200, legend: false, download: {background: "#ffffff"}, colors: chart_colors, title: "City" %>
</div><!-- .col-lg-3 -->
