<div class="col-12 mt-1 mb-4">

  <script>
    google.charts.load("current", {
      "packages":["map"],
      "mapsApiKey": "<%= "#{ENV['GEOCODER_API']}" %>"
    });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Lat', 'Long', 'Location'],

        <% @visits.each do |visit| %>
          [<%= visit.latitude %>, <%= visit.longitude %>, '<%= "#{visit.location}" %>'],
        <% end %>

      ]);

      var map = new google.visualization.Map(document.getElementById('map_div'));
      map.draw(data, {
        showTooltip: true,
        showInfoWindow: true
      });
    }
  </script>

  <div id="map_div" class="ratio ratio-21x9"></div>

</div><!-- col-12 -->
