<section class="jumbotron text-center">
  <div class="row">
    <div class="col-12">
      <h4 class="jumbotron-heading mt-5 mb-0 text-gray-dark">My Items</h4>
      <h6 class="text-muted jumbotron-heading mt-0 mb-2 text-gray-dark">Month of Year</h6>
    </div><!-- .col-12 -->
    <div class="col-12">
      <%= area_chart charts_month_of_year_single_todos_path, refresh: 5, download: true, points: false, colors: ["rgba(0,0,0,0.5)"] %>
    </div><!-- .col-12 -->
  </div><!-- .row -->
</section><!-- .jumbotron -->
