<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My To Do List</h1>
    <p class="lead text-muted">To Do list page description.</p>
  </div>
</section>

<div id="todo-app"></div>
