<section class="jumbotron text-center mt-5">
  <div class="container">
    <h1 class="jumbotron-heading">Privacy Policy</h1>
    <p class="lead text-start text-muted">Your privacy is very important to us. The content below will help you to understand how we collect and make use of personal information.</p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<ul class='pb-5 mb-5'>
  <li class='mb-3'>
    Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
  </li>
  <li class='my-3'>
    We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
  </li>
  <li class='my-3'>
    We will only retain personal information as long as necessary for the fulfillment of those purposes.
  </li>
  <li class='my-3'>
    We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
  </li>
  <li class='my-3'>
    Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
  </li>
  <li class='my-3'>
    We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
  </li>
  <li class='my-3'>
    We will make readily available to customers information about our policies and practices relating to the management of personal information.
  </li>
</ul>
