<section class="jumbotron py-4 text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Privacy Policy</h1>
    <p class="lead text-left text-muted">Your privacy is very important to us. The content below will help you to understand how we collect and make use of personal information.</p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<ul>
  <li class='mb-3'>
    Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
  </li>
  <li class='mt-3 mb-3'>
    We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
  </li>
  <li class='mt-3 mb-3'>
    We will only retain personal information as long as necessary for the fulfillment of those purposes.
  </li>
  <li class='mt-3 mb-3'>
    We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
  </li>
  <li class='mt-3 mb-3'>
    Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
  </li>
  <li class='mt-3 mb-3'>
    We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
  </li>
  <li class='mt-3 mb-3'>
    We will make readily available to customers information about our policies and practices relating to the management of personal information.
  </li>
  <li class='mt-3 mb-5 pb-5'>
    We work with third parties to collect user data for conversion tracking and serving ads targeted to users' interests. You may opt out of interest-based advertising directly through those third parties.
  </li>
</ul>
