<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Terms and Conditions</h1>
    <p class="lead text-start text-muted">Below are rules and guidelines on how users can access and interact with the application.</p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<h4 class="my-3">Description of Service</h4>

<p>
  An Example Ruby on Rails Application using modern, lightweight frameworks and libraries to shape the frontend.
  The app also utilizes well-maintained gems that won't cause dependency issues.
  The mission behind the project is to incorporate the latest best practices and serve as a template for future projects.
</p>

<h4 class="mt-5 mb-3">Acceptance of Terms</h4>

<p>
  BY USING THE SERVICES, YOU ARE AGREEING, ON BEHALF OF YOURSELF AND THOSE YOU REPRESENT,
  TO COMPLY WITH AND BE LEGALLY BOUND BY THESE TERMS AS WELL AS OUR PRIVACY POLICY
  AND ALL APPLICABLE LAWS. IF YOU, FOR YOURSELF OR ON BEHALF OF THOSE YOU REPRESENT,
  DO NOT AGREE TO ANY PROVISION OF THESE TERMS, YOU MUST, FOR YOURSELF
  AND ON BEHALF ANY SUCH PERSON(S), DISCONTINUE THE REGISTRATION PROCESS,
  DISCONTINUE YOUR USE OF THE SERVICES, AND, IF YOU ARE ALREADY REGISTERED, CANCEL YOUR ACCOUNT.
</p>

<h4 class="mt-5 mb-3">Registration</h4>

<p>
  You may not use as a username the name of another person or entity or that is not lawfully available for use,
  a name or trademark that is subject to any rights of another person or entity other than you
  without appropriate authorization, or a name that is otherwise offensive, vulgar, or obscene.
</p>

<p>
  You are responsible for maintaining the confidentiality of your password and are solely
  responsible for all activities resulting from the use of your password and conducted
  through your RRB account.
</p>

<p>
  Services are available to authorized representatives of legal entities and to individuals
  who are either at least 18-years-old, or at least 14-years-old, and who are authorized to
  access the application by a parent or legal guardian.
  If you have authorized a minor to use the Site, you are responsible for the online conduct of such minor,
  and the consequences of any misuse of the Site by the minor. Parents and legal guardians are warned
  that the Site may display Visual Content containing nudity and violence that may be offensive to some.
</p>

<p>
  By using this application, you agree to our use of cookies as described in our 
  <a href="/pages/cookie_policy" target="_blank" class="text-shnozberry fw-bold">cookies</a>
  and <a href="/pages/privacy_policy" target="_blank" class="text-shnozberry fw-bold">privacy</a> policies.
</p>

<h4 class="mt-5 mb-3">User Conduct</h4>

<p>
  All Visual Content posted or otherwise submitted to the Site, and any comments,
  or other communications (“Communications”, with Visual Content and Communications
  collectively referred to as “Content”) is the sole responsibility of the account holder
  from which such Communications originate. You acknowledge and agree that you, and not RRB,
  are entirely responsible for all Content that you post, or otherwise submit to the Site,
  including via all communications via RRB’s Chat Rooms. RRB does not control user
  submitted Content and, as such, does not guarantee the accuracy, integrity, or quality of
  such Content. You understand that by using the Site, you may be exposed to Content that is
  offensive, indecent, or objectionable.
</p>

<p>
  As a condition of use, you promise to abide by our Content Guidelines
  and not to use the Services for any purpose that is unlawful or prohibited by these Terms,
  or any other purpose not reasonably intended by RRB. By way of example, and not as a limitation,
  you agree not to use the Services:
</p>

<ol>
  <li>
    To abuse, harass, threaten, impersonate, or intimidate any person;
  </li>
  <li>
    To post or transmit, or cause to be posted or transmitted, any Content that is libelous,
    defamatory, obscene, pornographic, abusive, offensive, profane,
    or that infringes any copyright or other right of any person;
  </li>
  <li>
     For any purpose (including posting or viewing Content) that is not permitted
     under the laws of the jurisdiction where you use the Services;
  </li>
  <li>
    To create or transmit unwanted ‘spam’ to any person or any URL;
  </li>
  <li>
    To create multiple accounts for the purpose of voting for users’ Visual Content;
  </li>
  <li>
    To promote or sell Visual Content of another person unless you are expressly authorized to do so; or
  </li>
  <li>
    To sell, assign, or otherwise transfer your Profile or account.
  </li>
  <li>
    You are solely responsible for your interactions with other users of the Site. RRB reserves the right,
    but has no obligation, to review disputes between you and other users.
    This includes the right to review interactions exchanged through RRB’s chat rooms,
    based on any reports that RRB receives alleging the violation of these Terms through the use of RRB’s chat rooms,
    including without limitation, reports regarding alleged harassment, indecency, and offensive messages.
  </li>
  <li>
    If the Services or Site are used in a manner that violates the Terms in any way,
    RRB may at its sole discretion, but is not required to, suspend or terminate your account,
    disable your access to the Site and/or take any steps that it deems appropriate to address the situation.
  </li>
</ol>

<section class="my-5 pb-5">
  <p class="text-center">Please treat others as you wish to be treated 🖖🏼</p>
</section><!-- mb-5 pb-5 -->
