<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Terms and Conditions</h1>
    <p class="lead text-left text-muted">Everybody love everybody. There is not actual service being provided here. This is a dummy application.</p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<section class="text-center mb-5 pb-5">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FsuQg42XNMo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><!-- .embed-responsive -->
</section><!-- .text-center mb-5 pb-5 -->
