<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome</h1>
    <p class="lead text-left text-muted">There is no product being sold here. The content throughout the site is meant to serve as an example. Join now to see the blog &plus; todo list.</p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<div class="card-deck mb-1 text-center">
  <div class="card mb-2 shadow-sm">
    <div class="card-header bg-tayberry">
      <h4 class="my-0 font-weight-bold text-white">Free</h4>
    </div><!-- .card-header -->
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li><strong>Lorem</strong></li>
        <li>Fusce dapibus donec id elit</li>
        <li>Porta gravida</li>
        <li>Justo</li>
      </ul><!-- .ist-unstyled -->
      <%= link_to("Sign up for free", new_user_registration_path, class: 'btn btn-lg btn-block btn-outline-primary') %>
    </div><!-- .card-body -->
  </div><!-- .card -->
  <div class="card mb-2 shadow-sm">
    <div class="card-header bg-shnozberry">
      <h4 class="my-0 font-weight-bold text-white">Premium</h4>
    </div><!-- .card-header -->
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li><strong>Lorem Ipsum</strong></li>
        <li>Fusce dapibus donec id elit</li>
        <li>Porta gravida at emic eget</li>
        <li>Justo sit amet risus</li>
      </ul><!-- .ist-unstyled -->
      <button type="button" class="btn btn-lg btn-block btn-outline-success">Start subscription</button>
    </div><!-- .card-body -->
  </div><!-- .card -->
</div><!-- .card-deck -->

<div class="my-3 p-4 card shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">What are we selling?</h6>
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Absolutely nothing</strong>
      This is a Rails 6 (PostgreSQL) example todo and blog application that utilizes a harmony of javascript frameworks &amp; Bootstrap to shape the frontend.
    </p>
  </div>
  <div class="media text-muted pt-3">
    <%= image_tag 'tayberry.svg', alt: 'Media', class: 'mr-2 rounded' %>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Free</strong>
      Donec id elit non mi porta gravida amo vidicus metu. Quipio udon rando, ut fermentum massa justo sit amet risus. Pellentesque nulla nisi, dapibus ut purus aliquam. Proin vel purus ut nulla sodales faucibus id ut lacus.
    </p><!-- .media-body -->
  </div><!-- .media -->
  <div class="media text-muted pt-3">
    <%= image_tag 'schnozberry.svg', alt: 'Media', class: 'mr-2 rounded' %>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Premium</strong>
      Lorem Ipsum elit non mi porta gravida y at egorial. Pellentesque nulla nisi, dapibus ut purus aliquam, semper lacinia purus. Fusce dapibus, tellus ac cursus pulio, e te brute y tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Proin vel purus ut nulla sodales faucibus id ut lacus.
    </p><!-- .media-body -->
  </div><!-- .media -->
  <div class="media text-muted pt-3">
    <p class="media-body pb-0 mb-0 small">
      Lorem Ipsum elit non mi porta gravida y at egorial. Pellentesque nulla nisi, dapibus ut purus aliquam, semper lacinia purus. Fusce dapibus, tellus ac cursus pulio, e te brute y tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Proin vel purus ut nulla sodales faucibus id ut lacus. Lorem Ipsum elit non mi porta gravida y at egorial. Pellentesque nulla nisi, dapibus ut purus aliquam, semper lacinia purus. Fusce dapibus, spilia dur fermentum massa tellio cursus pulio, e te brute y tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Proin vel purus ut nulla sodales faucibus id ut lacus. Fusce dapibus, tellus ac cursus pulio, e te brute y tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Proin vel purus ut nulla sodales faucibus id ut lacus. Pellentesque nulla nisi elit non mi porta gravida y at egorial. Lorem Ipsum dividi non mi porta gravidisima y gravidisimo.
    </p><!-- .media-body -->
  </div><!-- .media -->
  <small class="d-block text-right text-muted mt-2">
    <strong class="d-block text-gray-dark">Anthony Juan Maseda</strong>
  </small><!-- .d-block -->
</div><!-- .my-3 p-3 card shadow-sm -->

<section class="jumbotron text-center mt-3">
  <h4 class="jumbotron-heading mb-0 text-gray-dark">Explanation video</h4>
  <h6 class="jumbotron-heading mt-1 mb-2 text-gray-dark text-muted text-capitalize">Embed Responsive</h6>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/u75Zsl1ECPQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><!-- .embed-responsive -->
</section><!-- .jumbotron -->
