<div class="random">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Random (sandbox)</h1>
      <p class="lead text-muted">There is no actual product being sold here. The content below is example markup made with bootstrap, but we may integrate stripe later. Please <%= link_to('sign in', new_user_session_path) %> or <%= link_to("sign up", new_user_registration_path) %> to see the blog &plus; todo list.</p>
    </div>
  </section>

  <div class="my-3 p-3 bg-white">
    <h3 class="text-center font-weight-light">Grids</h3>
    <div class="row gridapalooza">
      <div class="col-4">.col-4</div>
      <div class="col-4">.col-4</div>
      <div class="col-4">.col-4</div>
    </div>
    <div class="row gridapalooza">
      <div class="col-sm-4">.col-sm-4</div>
      <div class="col-sm-4">.col-sm-4</div>
      <div class="col-sm-4">.col-sm-4</div>
    </div>
    <div class="row gridapalooza">
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>
    </div>
    <div class="row gridapalooza">
      <div class="col-lg-4">.col-lg-4</div>
      <div class="col-lg-4">.col-lg-4</div>
      <div class="col-lg-4">.col-lg-4</div>
    </div>
    <div class="row gridapalooza">
      <div class="col-xl-4">.col-xl-4</div>
      <div class="col-xl-4">.col-xl-4</div>
      <div class="col-xl-4">.col-xl-4</div>
    </div>
  </div><!-- .my-3 .p-3 .bg-white -->

  <section class="jumbotron text-center">
    <h3 class="jumbotron-heading" id="randomVideo">Random Video</h3>
    <iframe src="https://www.youtube.com/embed/FsuQg42XNMo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>

</div><!-- .random -->
