<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Video Chat</h1>
    <p class="lead text-left text-muted">Join rooms and chat with other users. <i>If you're a member..</i> Create, Read, Update, &amp; Destroy WebRTC chat rooms.</p>
    <div class="filter">
      <%= render partial: 'rooms/search', locals: { action: rooms_path, q: '' } %>
    </div><!-- .filter -->
  </div><!-- .container -->
</section><!-- .jumbotron -->

<%= render partial: 'rooms/rooms' %>

<section class="jumbotron text-center my-5"></section>
