/* Blog styles
----------------------------------------------------------------------------- */

img.card-img-top, .col-lg-4 .card iframe {
  height: 225px !important;
  width: 100%;
  display: block;
  // filter: grayscale(99%);
}
@media only screen and (min-width: 768px) and (max-width: 990px)  {
  img.card-img-top, .col-lg-4 .card iframe {
    height: 425px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px)  {
  img.card-img-top, .col-lg-4 .card iframe {
    height: 325px !important;
  }
}
