/* Blog styles
----------------------------------------------------------------------------- */

.form-horizontal .form-label-group {
  margin-bottom: 40px;
}
.form-horizontal .form-group {
  margin-bottom: 60px;
}

.avatar {
  margin-top: 18px;
}

img.card-img-top {
  height: 225px !important;
  width: 100%;
  display: block;
}

section.jumbo-show {
  min-height: 240px;
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
@media (min-width: 768px) {
  section.jumbo-show {
    min-height: 480px;
  }
}
