/* Blog styles
----------------------------------------------------------------------------- */

.cache-image {
  margin: 12px 0;
  width: 50%;
  img {
    max-width: 100%;
    height: auto;
  }
}

img.card-img-top {
  height: 225px !important;
  width: 100%;
  display: block;
}

section.jumbo-show {
  min-height: 240px;
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
@media (min-width: 768px) {
  section.jumbo-show {
    min-height: 480px;
  }
}
