/* Backgrounds
----------------------------------------------------------------------------- */

.bg-info {
  background-color: #17a2b8 !important;
}
.bg-brownie {
  background-color: rgba(61,12,2,1) !important;
}
.bg-orange {
  background-color: rgba(251,79,20,1) !important;
}
.bg-tayberry {
  background-color: rgba(230,67,140,1) !important;
}
.bg-shnozberry {
  background-color: rgba(111,71,190,1) !important;
}


/* Borders
----------------------------------------------------------------------------- */

.border-info {
  border: 1px solid #17a2b8 !important;
}
.border-brownie {
  border: 1px solid rgba(61,12,2,1) !important;
}
.border-orange {
  border: 1px solid rgba(251,79,20,1) !important;
}
.border-tayberry {
  border: 1px solid rgba(230,67,140,1) !important;
}
.border-shnozberry {
  border: 1px solid rgba(111,71,190,1) !important;
}


/* Buttons
----------------------------------------------------------------------------- */

.btn-outline-info {
  color: #17a2b8 !important;
  background-color: #fff !important;
  background-image: none;
  border-color: #17a2b8 !important;
}
.btn-outline-info:hover,
.btn-info {
  color: #fff !important;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}
.btn-info:hover {background-color: #17a2b8 !important;}

.btn-outline-brownie {
  color: rgba(61,12,2,1) !important;
  background-color: transparent;
  background-image: none;
  border-color: rgba(61,12,2,1) !important;
}
.btn-outline-brownie:hover,
.btn-brownie {
  color: #fff !important;
  background-color: rgba(61,12,2,1) !important;
  border-color: rgba(61,12,2,1) !important;
}
.btn-brownie:hover {background-color: rgba(61,12,2,0.9) !important;}

.btn-outline-orange {
  color: rgba(251,79,20,1) !important;
  background-color: transparent;
  background-image: none;
  border-color: rgba(251,79,20,1) !important;
}
.btn-outline-orange:hover,
.btn-orange {
  color: #fff !important;
  background-color: rgba(251,79,20,1) !important;
  border-color: rgba(251,79,20,1) !important;
}
.btn-orange:hover {background-color: rgba(251,79,20,0.9) !important;}

.btn-outline-tayberry {
  color: rgba(230,67,140,1) !important;
  background-color: transparent;
  background-image: none;
  border-color: rgba(230,67,140,1) !important;
}
.btn-outline-tayberry:hover,
.btn-tayberry {
  color: #fff !important;
  background-color: rgba(230,67,140,1) !important;
  border-color: rgba(230,67,140,1) !important;
}
.btn-tayberry:hover {background-color: rgba(230,67,140,0.9) !important;}

.btn-outline-shnozberry {
  color: rgba(111,71,190,1) !important;
  background-color: transparent;
  background-image: none;
  border-color: rgba(111,71,190,1) !important;
}
.btn-outline-shnozberry:hover,
.btn-shnozberry {
  color: #fff !important;
  background-color: rgba(111,71,190,1) !important;
  border-color: rgba(111,71,190,1) !important;
}
.btn-shnozberry:hover {background-color: rgba(111,71,190,0.9) !important;}


/* Text
----------------------------------------------------------------------------- */

.text-info {
  color: #17a2b8 !important;
}
.text-brownie {
  color: rgba(61,12,2,1) !important;
}
.text-orange {
  color: rgba(251,79,20,1) !important;
}
.text-tayberry {
  color: rgba(230,67,140,1) !important;
}
.text-shnozberry {
  color: rgba(111,71,190,1) !important;
}
