/* Begin Custom Colors
----------------------------------------------------------------------------- */

// html, .bg-dark {
//   background-color: #343a40 !important;
//   /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
// }

body {


/* Variables
----------------------------------------------------------------------------- */

--primary: #0a58ca;
--info: #17a2b8;
--brownie: rgba(61,12,2,1);
--orange: rgba(251,79,20,1);
--tayberry: rgba(230,67,140,1);
--shnozberry: rgba(111,71,190,1);

--dim: rgba(3,7,7,1);
--lit: rgba(255,255,255,1);


/* Backgrounds
----------------------------------------------------------------------------- */

.bg-primary {
  background-color: var(--primary) !important;
}
.bg-info {
  background-color: var(--info) !important;
}
.bg-brownie {
  background-color: var(--brownie) !important;
}
.bg-orange {
  background-color: var(--orange) !important;
}
.bg-tayberry {
  background-color: var(--tayberry) !important;
}
.bg-shnozberry {
  background-color: var(--shnozberry) !important;
}

.bg-jam {
  filter: saturate(55%);
  -webkit-filter: saturate(55%);
  // background-image: linear-gradient(to top, var(--tayberry) 0%, var(--shnozberry) 100%);
  background-image: linear-gradient(-225deg, var(--tayberry) 0%, var(--brownie) 45%, var(--orange) 70%, var(--shnozberry) 100%);
  color: var(--lit);
}
.btn.bg-jam:hover {
  filter: saturate(65%);
  -webkit-filter: saturate(65%);
}

.bg-sign-in {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
}
.btn.bg-sign-in:hover {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.bg-missing {
  background: {
   image: asset_url("missing.svg");
  }
  background-position: center;
  background-size: cover;
}


/* Borders
----------------------------------------------------------------------------- */

.border-primary {
  border: 1px solid var(--primary) !important;
}
.border-info {
  border: 1px solid var(--info) !important;
}
.border-brownie {
  border: 1px solid var(--brownie) !important;
}
.border-orange {
  border: 1px solid var(--orange) !important;
}
.border-tayberry {
  border: 1px solid var(--tayberry) !important;
}
.border-shnozberry {
  border: 1px solid var(--shnozberry) !important;
}


/* Buttons
----------------------------------------------------------------------------- */

.btn-outline-primary {
  color: var(--primary) !important;
  background-color: var(--lit) !important;
  background-image: none;
  border-color: var(--primary) !important;
}
.btn-outline-primary:hover,
.btn-primary {
  color: var(--lit) !important;
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.btn-primary:hover {background-color: var(--primary) !important;}

.btn-outline-info {
  color: var(--info) !important;
  background-color: var(--lit) !important;
  background-image: none;
  border-color: var(--info) !important;
}
.btn-outline-info:hover,
.btn-info {
  color: var(--lit) !important;
  background-color: var(--info) !important;
  border-color: var(--info) !important;
}
.btn-info:hover {background-color: var(--info) !important;}

.btn-outline-brownie {
  color: var(--brownie) !important;
  background-color: transparent;
  background-image: none;
  border-color: var(--brownie) !important;
}
.btn-outline-brownie:hover,
.btn-brownie {
  color: var(--lit) !important;
  background-color: var(--brownie) !important;
  border-color: var(--brownie) !important;
}
.btn-brownie:hover {background-color: rgba(61,12,2,0.9) !important;}

.btn-outline-orange {
  color: var(--orange) !important;
  background-color: transparent;
  background-image: none;
  border-color: var(--orange) !important;
}
.btn-outline-orange:hover,
.btn-orange {
  color: var(--lit) !important;
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
}
.btn-orange:hover {background-color: rgba(251,79,20,0.9) !important;}

.btn-outline-tayberry {
  color: var(--tayberry) !important;
  background-color: transparent;
  background-image: none;
  border-color: var(--tayberry) !important;
}
.btn-outline-tayberry:hover,
.btn-tayberry {
  color: var(--lit) !important;
  background-color: var(--tayberry) !important;
  border-color: var(--tayberry) !important;
}
.btn-tayberry:hover { background-color: rgba(230,67,140,0.9) !important; }

.btn-outline-shnozberry {
  color: var(--shnozberry) !important;
  background-color: transparent;
  background-image: none;
  border-color: var(--shnozberry) !important;
}
.btn-outline-shnozberry:hover,
.btn-shnozberry {
  color: var(--lit) !important;
  background-color: var(--shnozberry) !important;
  border-color: var(--shnozberry) !important;
}
.btn-shnozberry:hover { background-color: rgba(111,71,190,0.9) !important; }


/* Text
----------------------------------------------------------------------------- */

.text-primary, a.text-primary {
  color: var(--primary) !important;
}
.text-info, a.text-info {
  color: var(--info) !important;
}
.text-brownie {
  color: var(--brownie) !important;
}
.text-orange {
  color: var(--orange) !important;
}
.text-tayberry {
  color: var(--tayberry) !important;
}
.text-shnozberry {
  color: var(--shnozberry) !important;
}


/* End  Custom Colors
----------------------------------------------------------------------------- */
// body
}
