/* flashes ( app/views/shared/_flash.html.erb )
----------------------------------------------------------------------------- */

// text-danger bg
.toast-danger {
  background-color: rgba(255,241,255,1) !important;
}

// text-success bg
.toast-success {
  background-color: rgba(241,255,255,1) !important;
}


/* progress-bar-animated
----------------------------------------------------------------------------- */

.progress {opacity: 0.7;}


/* world map and guages ( app/views/pages/_map_and_gauge.html.erb )
----------------------------------------------------------------------------- */

.gstatic {
  filter: hue-rotate(151deg);
  -webkit-filter: hue-rotate(151deg);
  g {
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.15));
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.15));
  }
}

#gauge_div_1, #gauge_div_2 {
  width: 100%;
  table {
    margin: auto !important;
  }
}


/* key features (app/views/pages/_features.html.erb)
----------------------------------------------------------------------------- */

.features {
  height: 540px;
  .list-group-item {
    z-index: 2;
    color: #6c757d;
    background-color: #fff !important;
    border-color: #fff !important;
    i {
      padding: 6px;
      font-size: 16px;
      color: #6c757d;
    }
  }
  .list-group-item:hover, .list-group-item.active {
    color: #6c757d;
    i {
      color: rgba(251,79,20,1); // --orange
    }
  }
}

img.center-img {
  width: 95%;
  height: auto;
  margin: 19px auto;
  transition: transform 0.75s;
  @media (max-width: 1400px) {
    margin: 37px auto;
  }
  @media (max-width: 1200px) {
    margin: 63px auto;
  }
}
img.center-img:hover {
  cursor: zoom-in;
  transform: scale(1.01);
}
img.center-img:active {
  cursor: zoom-in;
  transform: scale(1.1);
  // transform: skew(-0.3deg, -0.1deg);
  // filter: invert(100%) !important;
  // -webkit-filter: invert(100%) !important;
}
