/* Devise styles
----------------------------------------------------------------------------- */

body.authorization {
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 40px;
  color: #212529;
  background-color: #fff;
}

p.visitor, p.superadmin {cursor:grab;}

.goodbye {
  position: absolute;
  bottom: 24px;
  right: 48px;
  // left: 50%;
  // transform: translate(-50%, 0);
  .fa-sign-out-alt {
    margin-right: 12px;
    path {
      fill: #6c757d!important;
    }
  }
  .fa-trash path {
    fill: #dc3545 !important;
  }
}
@media (max-width: 768px) {
  .goodbye {
    top: 12px;
    right: 24px;
  }
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-signin img {
  width: 120px;
  height: auto;
  margin: 0 auto 15px;
}

.form-floating {
  position: relative;
  margin-bottom: 1rem;
}

.form-floating > input,
.form-floating > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  padding-left: 15px;
}

.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.1;
  color: rgba(117,117,117,0.7);
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .5s ease-in-out;
}

.form-floating input::-webkit-input-placeholder {
  color: transparent;
}

.form-floating input:-ms-input-placeholder {
  color: transparent;
}

.form-floating input::-ms-input-placeholder {
  color: transparent;
}

.form-floating input::-moz-placeholder {
  color: transparent;
}

.form-floating input::placeholder {
  color: transparent;
}

.form-floating input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-floating input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: rgba(117,117,117,0.5);
}


/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-floating > label {
    display: none;
  }
  .form-floating input::-ms-input-placeholder {
    color: rgba(117,117,117,0.5);
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-floating > label {
    display: none;
  }
  .form-floating input:-ms-input-placeholder {
    color: rgba(117,117,117,0.5);
  }
}
