/* Devise styles
----------------------------------------------------------------------------- */

body.authorization {
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 40px;
  color: #212529;
  background-color: #fff;
}

p.visitor, p.superadmin {cursor:grab;}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
  img {
    width: 72px;
    height: auto;
    margin: 0 auto 15px;
  }
}

.goodbye {
  position: absolute;
  bottom: 24px;
  right: 48px;
  // left: 50%;
  // transform: translate(-50%, 0);
  .fa-sign-out-alt {
    margin-right: 12px;
    path {
      fill: #6c757d!important;
    }
  }
  .fa-trash path {
    fill: #dc3545 !important;
  }
}
@media (max-width: 768px) {
  .goodbye {
    top: 12px;
    right: 24px;
  }
}
