/* Global styles
----------------------------------------------------------------------------- */

:root {
  --jumbotron-padding-top: 1rem;
  --jumbotron-padding-bottom: 2rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-top) !important;
  padding-bottom: var(--jumbotron-padding-bottom) !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  background-color: #fff !important;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-top) * 2) !important;
    padding-bottom: calc(var(--jumbotron-padding-bottom) * 2) !important;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.card-group .card {
  min-width: 280px;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

a {
  .fas {
    text-decoration: none !important;
  }
}


/* Forms and Buttons
----------------------------------------------------------------------------- */

trix-editor.form-control {
  height: 545px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  border: 3px solid #dee2e6 !important;
}
.trix-button-group--file-tools,
.trix-button-group--history-tools,
.trix-button--icon-decrease-nesting-level,
.trix-button--icon-increase-nesting-level {
  display: none !important;
  width: 0 !important;
}
trix-editor.form-control.comments {
  height: 420px !important;
}
@media (max-width: 768px) {
  trix-editor.form-control, trix-editor.form-control.comments {
    height: 350px !important;
  }
  input[type="file" i] {
    max-width: 100%!important;
    clear: both !important;
  }
}

.form-group.col-md-11 input[type="text"] {
  border: 1px solid #212529 !important;
}

.filter .form-control {
  border: 1px solid #212529 !important;
  padding: 30px;
}

button.btn-outline-primary:hover a, button.btn-outline-primary a:hover {
  text-decoration: none;
  color: #fff !important;
}

.form-check .form-check-input, .theme-check {
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  margin-top: 15px !important;
}

turbo-frame#room {
  display: block;
  height: 210px;
  @media (max-width: 768px) {
    height: 270px;
  }
  @media (max-width: 576px) {
    height: 330px;
  }
}


/* Tables
----------------------------------------------------------------------------- */

.table {
  border: 1px solid #dee2e6 !important;
}

.table thead th {
  border-bottom: 1px solid #dee2e6 !important;
}

.table th, .table td {
  padding: 9px 12px !important;
}

// .table-responsive button.close path {
//   fill: #dc3545 !important;
// }
.table-responsive button.close svg {
  width: 24px;
  height: 20px;
  margin-top: 10px;
  margin-right: 1px;
}


/* Blog styles
----------------------------------------------------------------------------- */

img.card-img-top {
  display: block;
  width: 100%;
  object-fit: none;
  object-position: center;
}
@media screen and (min-width:510px) and (max-width:992px){
  img.card-img-top {
    object-fit: cover;
  }
}

#articleLikes a {
  text-decoration: none;
}

#comments {
  max-height: 525px;
  .comment-body {
    max-height: 75px;
  }
}


/* Chat Room styles
----------------------------------------------------------------------------- */

#show-notes {
  top: -8vh;
  max-height: 525px;
  .note-body {
    max-height: 315px;
  }
}
.notes-form {margin-top: -8vh;}

#videos {
  width: 100%;
  video {
    width: calc(50% - 5px);
    height: 40vh;
    margin-bottom: 10vh;
    // height: calc(#{width} * 0.5625);
    // height: 33.333vh;
    // margin-top: -10px;
  }
}
