/* Global styles
----------------------------------------------------------------------------- */

:root {
  --jumbotron-padding-top: 1.5rem;
  --jumbotron-padding-bottom: 1.5rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-top) !important;
  padding-bottom: var(--jumbotron-padding-bottom) !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  background-color: #fff !important;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-top) * 2) !important;
    padding-bottom: calc(var(--jumbotron-padding-bottom) * 2) !important;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.card-group .card {
  min-width: 280px;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

a {
  text-decoration: none !important;
}

.pointer {
  cursor: pointer !important;
}


/* Forms and Buttons
----------------------------------------------------------------------------- */

trix-editor.form-control {
  height: 545px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  border: 3px solid #dee2e6 !important;
}
.trix-button-group--file-tools,
.trix-button-group--history-tools,
.trix-button--icon-decrease-nesting-level,
.trix-button--icon-increase-nesting-level {
  display: none !important;
  width: 0 !important;
}
@media (max-width: 768px) {
  trix-editor.form-control, trix-editor.form-control.comments {
    height: 350px !important;
  }
  input[type="file" i] {
    max-width: 100%!important;
    clear: both !important;
  }
}

.form-control:focus {
  box-shadow: 0 0 0 0.05rem !important;
}

.filter .form-control {
  border: 1px solid #212529 !important;
  padding: 14px;
}

.filter-accordian {
  border: 1px solid #adb5bd !important;
}

button.btn-outline-primary:hover a, button.btn-outline-primary a:hover {
  text-decoration: none;
  color: #fff !important;
}

.theme-check, .form-check-inline {
  -ms-transform: scale(1.5) !important;
  -moz-transform: scale(1.5) !important;
  -webkit-transform: scale(1.5) !important;
  -o-transform: scale(1.5) !important;
  transform: scale(1.5) !important;
  margin-top: 5px !important;
}

#comments, #show_notes {
  max-height: 3600px;
  @media (max-width: 768px) {
    max-height: 1440px;
  }
  .comment-body, .note-body {
    max-height: 360px;
  }
}

.offcanvas-top.room-top, .offcanvas-top.comment-top {
  height: 75vh !important;
  @media (max-width: 576px) {
    height: 55vh !important;
  }
}

.offcanvas-top.room-top, .offcanvas-top.comment-top {
  height: 70vh !important;
  @media (max-width: 992px) {
    height: 60vh !important;
  }
  @media (max-width: 576px) {
    height: 50vh !important;
  }
}

.room-top trix-editor.form-control, .comment-top trix-editor.form-control {
  height: 53vh !important;
  @media (max-width: 992px) {
    height: 43vh !important;
  }
  @media (max-width: 576px) {
    height: 33vh !important;
  }
}


/* Tables
----------------------------------------------------------------------------- */

.table {
  border: 1px solid #dee2e6 !important;
}

// .table thead th {
//   border-bottom: 1px solid #dee2e6 !important;
// }
.table thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6 !important;
}

.table thead>tr>th, .table thead>tr>td {
  padding: 9px 12px !important;
}

// .table-responsive button.close path {
//   fill: #dc3545 !important;
// }
.table-responsive div.close i {
  font-size: 22px;
  margin-top: 10px;
}


/* Blog styles
----------------------------------------------------------------------------- */

img.card-img-top {
  display: block;
  width: 100%;
  height: auto;
  object-fit: none;
  object-position: center;
}

.preview-thumb img.card-img-top {
  object-fit: cover;
}

@media screen and (min-width:510px) and (max-width:992px) {
  img.card-img-top {
    object-fit: cover;
  }
}


/* Chat Room styles
----------------------------------------------------------------------------- */

#videos {
  width: 100%;
  video {
    // new video elements' widths = half of col-12
    // .. within overall container
    width: calc(50% - 5px);
    // width / 50% of viewport height = 4:3 ratio
    height: 50vh;
    margin-bottom: 10vh;
  }
}

turbo-frame#room {
  display: block;
  // leave room for rooms#new frame
  // and match ToDo List margins
  height: 183px;
  @media (max-width: 768px) {
    height: 270px;
  }
  @media (max-width: 576px) {
    height: 330px;
  }
  @media (max-width: 480px) {
    height: 200px;
  }
}
