/* Global styles
----------------------------------------------------------------------------- */

:root {
  --jumbotron-padding-top: 1.5rem;
  --jumbotron-padding-bottom: 1.5rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-top) !important;
  padding-bottom: var(--jumbotron-padding-bottom) !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-top) * 2) !important;
    padding-bottom: calc(var(--jumbotron-padding-bottom) * 2) !important;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.card-group .card {
  min-width: 280px;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

a {
  text-decoration: none !important;
}

.pointer {
  cursor: pointer !important;
}

.z-eleven {
  z-index: 11 !important;
}
