/* Animations extended beyond the fade, hide, show, etc.. Bootstrap classes
----------------------------------------------------------------------------- */


/* spin
transform-style: preserve-3d;
animation: spin 10s linear infinite;
transform-origin: center bottom;
----------------------------------------------------------------------------- */

@keyframes spin {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}


/* bounce
-webkit-animation: bounce 1.25s ease-in;
----------------------------------------------------------------------------- */

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translate3d(0, 545px, 0);
  }
  10% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translate3d(0, -3px, 0);
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
    transform: translate3d(0, 3px, 0);
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
    transform: translate3d(0, -1px, 0);
  }
  75% {
    opacity: 0.75;
  }
  80% {
    opacity: 0.8;
    transform: translate3d(0, 1px, 0);
  }
  90% {
    opacity: 0.9;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
