/* Header
----------------------------------------------------------------------------- */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

@media (min-width: 990px) {
  .nav-link-border {
    margin-left: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.nav-item a.nav-link {
  font-size: 1.25rem;
  margin-right: 1.25rem;
  svg.burger-icon {
    display: none !important;
  }
  span.burger-text {
    display: inline-block;
    margin-left: 6px;
  }
  @media (min-width: 990px) {
    span.burger-text {
      display: none;
    }
    svg.burger-icon {
      display: inline-block !important;
    }
  }
}


/* Pagination
----------------------------------------------------------------------------- */

.pagination {
  text-align: center;
  margin: 12px auto 0px;
  background: #fff;
}
.pagination a, .pagination span, .pagination em {
  padding: 6px;
  display: block;
  float: left;
  margin-right: 1px;
}
.pagination .disabled {
  color: #999999;
}
.pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #6c757d;
}
.pagination a {
  text-decoration: none;
  color: #105cb6;
}
.pagination a:hover, .pagination a:focus {
  text-decoration: none;
  cursor: grabbing;
  border-color: #000033;
  color: #000033;
}
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .pagination {
  height: 1%;
}
*:first-child + html .pagination {
  overflow: hidden;
}


/* Footer
----------------------------------------------------------------------------- */

footer {
  margin-top: 90px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 0;
  p {
    margin-bottom: .25rem;
    a {
      font-size: 24px;
      margin-right: 20px;
    }
    a.back-to-top {
      margin-right: 0px;
    }
  }
  a {
    color: #dad4ec;
  }
  a:hover {
    color: #fff;
  }
}
