/* Header
----------------------------------------------------------------------------- */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

@media (min-width: 990px) {
  .nav-link-border {
    margin-left: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.nav-item a.nav-link {
  font-size: 1.25rem;
  margin-right: 1.25rem;
  svg.burger-icon {
    display: none !important;
  }
  span.burger-text {
    display: inline-block;
    margin-top: 18px;
    margin-left: 6px;
  }
  @media (min-width: 990px) {
    span.burger-text {
      display: none;
    }
    svg.burger-icon {
      display: inline-block !important;
    }
  }
}

img.header-logo {
  width: 50px;
  height: auto;
}


/* Pagination
----------------------------------------------------------------------------- */

.pagination {
  text-align: center;
  margin: 12px auto 0px;
  background: #fff;
}
.pagination a, .pagination span, .pagination em {
  padding: 6px;
  display: block;
  float: left;
  margin-right: 1px;
}
.pagination .disabled {
  font-style: normal;
  font-weight: lighter;
  color: #999999;
}
.pagination .current {
  font-style: normal;
  font-weight: lighter;
  color: #6c757d;
}
.pagination a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  color: #6c757d;
}
.pagination a:hover, .pagination a:focus {
  text-decoration: none;
  cursor: grabbing;
  border-color: #999999;
  color: #999999;
}
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .pagination {
  height: 1%;
}
*:first-child + html .pagination {
  overflow: hidden;
}


/* Footer
----------------------------------------------------------------------------- */

.footer-navbar {
  margin-top: 100px;
  a {
    color: rgba(255,255,255,0.5);
  }
  a:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
  }
  .modal.fade .modal-dialog {
    transition: transform 0.5s ease-out !important;
  }
  .modal {
    color: #212529;
    a {
      margin-left: 12px;
      color: rgba(111,71,190,1);
      font-size: 18px;
    }
    a:hover {
      color: rgba(230,67,140,1);
      text-decoration: none;
    }
    .modal-title img {
      width: 100px;
      height: auto;
    }
    svg {
      margin-right: 10px;
    }
  }
}
