/* What's in the App? section of welcome page
----------------------------------------------------------------------------- */

.in-app {
  display: block;
  svg {
    width: 48px;
    height: 36px;
    padding: 6px;
    font-size: 32px;
    border: 2px solid #6c757d;
    border-radius: 50%;
    color: #6c757d;
    background-color: #fff;
  }
}
@media (max-width: 990px) {
  .in-app {
    display: none;
  }
}

.left-1:hover,
.left-2:hover,
.right-1:hover,
.right-2:hover {
  cursor: pointer;
  svg {
    color: #fff;
    background-color: #6c757d;
  }
}

img.center-img {
  width: 90%;
  margin: 0 auto 105px;
  transition: transform 0.75s;
  animation: shuffle 1s ease-in;
  filter: invert(0%) !important;
}
@keyframes shuffle {
	10% {
		transform: scale(1, 0.005);
  }
	35% {
		transform: scale(0.05, 0.005);
		opacity: 1;
  }
	50% {
		transform: scale(0.5, 0.05);
		opacity: 0;
  }
	85% {
		transform: scale(1, 0.5);
		opacity: 1;
  }
	100% {
		transform: scale(1, 1);
  }
}
img.center-img:hover {
  cursor: zoom-in;
  transform: scale(1.25);
}
