/* Dashboard + Welcome pages
----------------------------------------------------------------------------- */

.progress {opacity: 0.7;}

.gstatic {
  filter: hue-rotate(151deg);
  g {
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.3));
  }
}

#gauge_div_1, #gauge_div_2 {
  width: 100%;
  table {
    margin: auto !important;
  }
}

.in-app {
  display: block;
  height: 545px;
  margin-bottom: 75px;
  .list-group-item {
    z-index: 2;
    color: #6c757d;
    background-color: #fff !important;
    border-color: #fff !important;
    i {
      padding: 6px;
      font-size: 15px;
      color: #6c757d;
    }
  }
  .list-group-item:hover, .list-group-item.active {
    color: #6c757d;
    i.bi-graph-up-arrow { color: #0a58ca; }
    i.bi-fingerprint    { color: #17a2b8; }
    i.bi-cpu            { color: rgba(61,12,2,1); }
    i.bi-layout-wtf     { color: rgba(251,79,20,1); }
    i.bi-chat           { color: rgba(230,67,140,1); }
  }
  @media (max-width: 992px) {
    display: none;
  }
}

img.center-img {
  width: 95%;
  margin: 0 auto 105px;
  transition: transform 1.25s;
  -webkit-animation: shuffle 1.25s ease-in;
  z-index: 999;
}
img.center-img:hover, img.center-img:active {
  cursor: zoom-in;
  transform: scale(1.05);
  // filter: invert(100%) !important;
}

@keyframes shuffle {
  0% {
    opacity: 0;
    transform: translate3d(0, 545px, 0);
  }
  10% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translate3d(0, -3px, 0);
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
    transform: translate3d(0, 3px, 0);
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
    transform: translate3d(0, -1px, 0);
  }
  75% {
    opacity: 0.75;
  }
  80% {
    opacity: 0.8;
    transform: translate3d(0, 1px, 0);
  }
  90% {
    opacity: 0.9;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
