<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center">

      <div style="width:600px; text-align:left; color:#000; background-color:#fff;">
        <div style="width:570px; margin-left:15px;">

          <div style="margin-top:10px; margin-bottom:10px; margin-left:3px;">
            <%= link_to root_url do %>
              <img src="https://rails-react-bootstrap.herokuapp.com/assets/logo-92660c5c2890ab892aaab15171ef70e729a4b8f81c6786659ddc928273d81ced.png" alt="logo" width=24 height=30>
            <% end %>
          </div>

          <h6 style="font-size:15px; margin-top:12px; margin-bottom:9px; margin-left:3px;">
            <%= @email %>
          </h6>

          <h1 style="font-size:30px; margin-bottom:12px; margin-left:3px;">
            Regarding your account:
          </h1>

          <% if @resource.try(:unconfirmed_email?) %>
            <p style="font-size:18px; margin-bottom:6px; margin-left:6px;">
              We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.
            </p>
          <% else %>
            <p style="font-size:18px; margin-bottom:6px; margin-left:6px;">
              We're contacting you to notify you that your email has been changed to <%= @resource.email %>.
            </p>
          <% end %>

        </div>
      </div>

    </td>
  </tr>
</table>
