<div style="width:600px; text-align:left; color:#000; background-color:#fff;">
  <div style="width:570px; margin-left:15px;">

    <h2 style="font-size:15px; margin-top:12px; margin-bottom:9px; margin-left:3px;"><%= @resource.email %></h2>

    <h1 style="font-size:30px; margin-bottom:12px; margin-left:3px;">Hello,</h1>

    <p style="font-size:18px; margin-bottom:6px; margin-left:6px;">
      We're contacting you to notify you that your password has been changed.
    </p>

    <div style="margin-top:45px; margin-left:12px;">
      <%= link_to root_url do %>
        <%= image_tag "#{root_url}assets/logo.png", alt: 'logo', style: "width:95px; height:107px;" %>
      <% end %>
    </div>

  </div>
</div>
