<div style="width:600px; text-align:left; color:#000; background-color:#fff;">
  <div style="width:570px; margin-left:15px;">

    <h2 style="font-size:15px; margin-top:12px; margin-bottom:9px; margin-left:3px;"><%= @resource.email %></h2>

    <h1 style="font-size:30px; margin-bottom:12px; margin-left:3px;">Hello,</h1>

    <p style="font-size:18px; margin-bottom:6px; margin-left:6px;">
      We're contacting you to notify you that your password has been changed.
    </p>

    <div style="margin-top:45px; margin-left:12px;">
      <a href="https://rails-react-bootstrap.herokuapp.com/" style="text-decoration:none;">
        <img src="https://rails-react-bootstrap.herokuapp.com/assets/logo-92660c5c2890ab892aaab15171ef70e729a4b8f81c6786659ddc928273d81ced.png" alt="logo" width=95 height=107>
      </a>
    </div>

  </div>
</div>
