<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Members</h1>
    <p class="lead text-start text-muted">Hi, <%= link_to truncate(current_user.name), current_user, class: "text-info fw-bold" %>, you are authorized to view members. Members will be assigned that role upon upgrading to premium.</p>
    <div class="filter">
      <%= render partial: 'members/search', locals: { action: members_path, q: '' } %>
    </div><!-- .filter -->
  </div><!-- .container -->
</section><!-- .jumbotron -->

<div class="row">
  <div class="col-lg-8 mb-5">
    <%= render partial: 'users/users' %>
  </div><!-- .col-lg-8 -->
  <div class="col-lg-4 mb-5">
    <%= render partial: 'members/chart' %>
  </div><!-- .col-lg-4 -->
</div><!-- .row -->
